    html {
        max-width: 100%;
        max-height: 100%;
    }

    body {
        font-family: "Raleway", sans-serif !important;
        font-size: 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #000;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }

    .btn.active {
        background: #6d6c6d;
        color: white;
    }

    .btn.active.focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn:active:focus.btn:focus {
        outline: 0 auto -webkit-focus-ring-color;
        outline-offset: 0;
        box-shadow: inherit;
    }

     :focus {
        outline: -webkit-focus-ring-color auto 0;
    }

    a:focus {
        outline: 0 auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }

     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #747d8c !important;
    }

     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #747d8c !important;
    }

     :-ms-input-placeholder {
        /* IE 10+ */
        color: #747d8c !important;
    }

     :-moz-placeholder {
        /* Firefox 18- */
        color: #747d8c !important;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    .header-atluss {
        .carousel-control {
            background: none;
            width: 40px;
        }
        .carousel-caption {
            width: 100%;
            left: 0;
            right: 0;
            top: 16px;
            text-align: left;
            font-family: "Open Sans", sans-serif !important;
        }
        .carousel-caption .title {
            margin-top: 90px;
            text-transform: uppercase;
            font-size: 28px;
            color: #fff;
        }
        .carousel-caption .content {
            margin-top: 10px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
        }
    }

    .carousel-fade .carousel-inner .item {
        -webkit-transition-property: opacity;
        transition-property: opacity;
        img {
            max-height: 500px;
            width: 100%;
        }
    }

    .carousel-fade .carousel-inner .item,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        opacity: 0.75;
    }

    .carousel-fade .carousel-inner .active,
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-control {
        z-index: 2;
    }

    .banner-atluss {
        padding: 24px 0;
        background: #472c53;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-transform: uppercase;
            margin: 0px;
            color: white;
        }
        p {
            font-size: 16px;
            margin: 0px;
            color: white;
        }
        ul,
        ol {
            margin: 0px;
            font-size: 16px;
        }
        li a {
            color: #fff;
            padding: 0px 16px;
        }
        li a:hover,
        li a:focus {
            text-decoration: none;
        }
        li {
            border-left: 1px solid #fff;
        }
        li:first-child {
            border: 0;
        }
    }

    .feature-atluss {
        background: url("/img/feature.png");
        background-size: cover;
        background-position: center;
        font-family: "Open Sans", sans-serif !important;
    }

    %btn {
        background: none;
        color: white;
        position: relative;
        z-index: 9;
        &:hover {
            transition: 0.25s ease;
            color: white;
            background: none;
            border-color: transparent;
        }
        &:after {
            content: "";
            background: #00cced;
            width: 0;
            height: 100%;
            position: absolute;
            border-radius: 24px;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &:hover:after {
            transition: 0.3s ease;
            width: 100%;
            border: 1px solid #00cced;
        }
    }

    .btn-login {
        @extend %btn;
        border-color: white;
        padding: 10px 32px;
        font-size: 16px;
        margin: 32px auto;
        text-transform: uppercase;
    }

    .btn-black {
        border-color: black;
        color: black;
    }

    .btn-action {
        background: #f8f8f8;
        color: grey;
        border: 1px solid #bebebe !important;
        margin: 10px 0px;
        padding: 4px 12px;
        min-width: 72px;
        span {
            font-size: 1em;
            vertical-align: middle;
        }
    }

    .btn-back {
        min-width: 0;
    }

    .btn-action:hover,
    .btn-action:focus,
    .btn-action:active {
        background: #6d6c6d;
        color: #fff !important;
    }

    .wrapper {
        float: left;
        width: 100%;
        position: relative;
        background-color: #fff;
    }

    .read-more span {
        font-size: 10px;
    }

    .track {
        padding: 40px 0;
        h2 {
            text-transform: uppercase;
            margin: 36px 0 20px;
            color: #fff
        }
        p {
            margin: 10px 0;
            color: #fff;
            line-height: 24px;
            min-height: 80px;
        }
        .fa {
            font-size: 120px;
            color: #00cced;
            margin: 10px 0
        }
    }
    /**------------------------------------------------------>
<--------------------------About page-------------------->
<--------------------------------------------------------**/

    .header-atluss>.container-fluid {
        background: url("/img/header-back.png");
        background-size: cover;
        background-position: center;
    }

    .header_text {
        margin: 64px 0px;
        font-size: 36px;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif !important;
        color: #fff;
    }

    .section-atluss:nth-child(odd) {
        background: #f6f6f6;
    }

    .section-atluss:nth-child(even) {
        background: white;
    }

    .section-atluss {
        padding: 40px 0;
        font-family: "Open Sans", sans-serif !important;
        .dash-text,
        .schedule-text,
        .referral-text {
            padding: 16px 16px;
            p {
                margin: 10px 0;
                color: #333;
                line-height: 32px;
                font-size: 18px;
            }
        }
        .home-text {
            padding: 64px 16px;
            ol li {
                font-size: 18px;
                line-height: 32px;
            }
        }
        ol {
            padding-left: 20px;
            li {
                text-align: left;
                font-size: 16px;
                font-family: "Open Sans", sans-serif !important;
                margin: 10px 0;
                color: #000;
            }
        }
        .list-group {
            padding-left: 20px;
            margin: 16px 0px;
            width: 100%;
            li {
                margin: 10px 0;
                color: #000;
                padding: 0 0 0 16px;
                font-weight: bold;
                font-size: 17px;
            }
        }
        .faq_list {
            float: left;
            width: 100%;
            padding: 10px 0 20px;
            border-bottom: 2px solid #fff;
            p.question {
                margin: 10px 0;
                float: left;
                width: 100%;
                color: #000;
                font-size: 20px;
                font-weight: 500;
            }
            p.answer {
                margin: 6px 0;
                float: left;
                width: 100%;
                color: #000;
                font-size: 16px;
                line-height: 24px;
            }
            p.question:before {
                content: "Q: ";
                font-size: 20px;
                color: #00cced;
            }
        }
        .faq_list:last-child {
            border: 0;
        }
        .heading {
            text-align: center;
            margin: 16px 0;
            text-transform: uppercase;
            color: #000;
            font-family: 'Open Sans', sans-serif !important;
            font-size: 32px;
        }
        .form-control {
            background-color: #e1e1e1;
            color: #353535;
        }
        .input-group span {
            background-color: #e1e1e1;
        }
    }

    .feature {
        margin: 48px 0px;
    }

    .feature h3 {
        text-transform: uppercase;
        margin: 0px 0 20px 0;
        color: #fff;
        font-size: 35px;
    }
    /**------------------------------------------------------>
<--------------------------Contact page-------------------->
<--------------------------------------------------------**/

    #contact-form textarea {
        min-height: 138px;
    }
    /**------------------------------------------------------>
<--------------------------pricing page-------------------->
<--------------------------------------------------------**/

    .pricing-frame {
        box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background: #fff;
        padding: 4px;
        padding-bottom: 36px;
        margin: 16px 0 24px;
        display: inline-block;
        width: 100%;
        .calendar-form {
            margin: 16px;
        }
        input[type="radio"] {
            display: none;
            margin: 10px;
        }
        input[type="radio"]+label {
            display: block;
            margin: -2px;
            padding: 4px 12px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            font-weight: 400;
            color: #5e5e5e;
            margin: 30px auto 0;
            font-size: 18px;
            padding: 10px 45px;
            border-radius: 6px;
            cursor: pointer;
            width: 60%;
        }
        input[type="radio"]:checked+label {
            background-image: none;
            background-color: #00cced;
            transition: 0.5s ease;
            color: #fff;
        }
        .panel-heading {
            a {
                font-size: 24px;
                font-weight: 500;
                display: block;
                padding: 12px 0;
                border-top: 1px solid #f2f2f2;
                border-bottom: 1px solid #f2f2f2;
            }
            a:before {
                content: "\f077";
                float: right;
                font-family: FontAwesome;
                color: black;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
            a.collapsed:before {
                content: "\f078";
            }
            a span {
                margin-left: 10px;
            }
        }
        .panel>.panel-heading {
            border: none;
            background: none;
            color: #1a1a1a;
            font-size: 24px;
        }
        .panel>.panel-heading+.panel-collapse>.panel-body {
            border: none;
        }
        .panel {
            border: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        label {
            font-size: 14px;
        }
    }

    .pricing_content {
        margin: 30px auto;
        width: 80%;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 15px;
    }

    .pricing_content p {
        line-height: 24px;
        margin: 10px 0;
        font-size: 15px;
        color: #000;
    }

    .rate {
        font-size: 60px;
        color: #482c53;
        font-weight: 500;
    }
    /**------------------------------------------------------>
<--------------------------signin page-------------------->
<--------------------------------------------------------**/

    .login-form {
        margin: 48px 48px;
    }

    .f_pswd {
        color: #00cced;
        text-decoration: underline;
    }

    .f_pswd:hover {
        color: #00cced;
        text-decoration: underline;
    }

    .login-form input[type=checkbox] {
        margin-top: 4px;
    }
    /**------------------------------------------------------>
<--------------------------subscription page-------------------->
<--------------------------------------------------------**/

    .select-time {
        background: #eee;
        width: 200px;
        border: none;
        height: 50px;
    }

    .user-statcis {
        background: #f9f9f9;
        border: 1px #bebebe solid;
        color: #000;
        padding: 4px 35px 4px 35px;
        border-radius: 5px;
        margin: 20px 0 0 0;
        display: inline-block;
    }

    .email-text h1 {
        font-size: 45px;
        color: #5e5e5e;
        margin: 9px 0 0 0;
        font-weight: normal;
    }

    .email-text {
        text-align: left;
    }

    .email-btn {
        text-align: left;
    }

    .panel-collapse .heading {
        font-size: 20px;
        margin: 0px 0 16px 0;
    }
    /**------------------------------------------------------>
<--------------------------content-atluss page-------------------->
<--------------------------------------------------------**/

    .dash_listing {
        a:hover,
        a:focus {
            text-decoration: none;
        }
        li {
            float: left;
            width: 25%;
            margin: 0;
            text-align: center;
            border-right: 1px solid #d7d7d7;
            h3 {
                color: #5e5e5e;
                font-size: 30px;
            }
            .fa {
                font-size: 150px;
                display: block;
                color: #482c53;
                margin: 24px 0;
            }
        }
        li:last-child {
            border: 0;
        }
    }

    .footer-btm {
        width: 100%;
        background: #313131;
        float: left;
        padding: 16px 0px;
        text-align: right;
        .footer-brand img {
            margin: 16px auto;
            height: 100%;
        }
        li>a:hover,
        li>a:focus {
            text-decoration: none;
        }
        ul {
            display: inline-block;
            margin-top: 36px;
            margin-right: 16px;
            text-align: center;
        }
        ul.list-inline li a {
            color: #fff;
            text-transform: uppercase;
        }
    }

    h4.avial {
        margin: 15px;
        font-size: 24px;
        color: #00cced;
    }

    .inputs {
        margin: 10px 0;
        background: #e1e1e1;
        height: 40px;
        border: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        padding: 0 6px;
    }

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        .weekday {
            text-align: center;
            width: 14%;
            padding: 12px;
        }
    }

    .time-slot {
        border-top: 1px solid #b7b7b7;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 8px 0px;
        input,
        select {
            width: 90%;
            padding: 2px 8px;
            margin: 4px auto;
            height: 28px;
        }
        div {
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        p {
            margin: 5px auto;
            font-size: 14px;
        }
    }

    .time-slot:last-child {
        border-bottom: 1px solid #b7b7b7;
    }

    .help-block {
        font-size: 13px;
    }

    .fc-color-picker {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .fc-color-picker>li {
        float: left;
        font-size: 30px;
        margin-right: 5px;
        line-height: 30px;
    }

    .fc-color-picker>li .fa {
        -webkit-transition: -webkit-transform linear .3s;
        -moz-transition: -moz-transform linear .3s;
        -o-transition: -o-transform linear .3s;
        transition: transform linear .3s;
    }

    .fc-color-picker>li .fa:hover {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .events {
        li {
            font-size: 15px;
            line-height: 18px;
            margin: 3px 0;
            text-align: left;
            margin-right: 0px;
            text-transform: uppercase;
            font-weight: 600;
        }
        li:nth-child(1) {
            color: #000
        }
        li:nth-child(1):before {
            background: #000
        }
        li:nth-child(2) {
            color: #c10e0e
        }
        li:nth-child(2):before {
            background: #c10e0e
        }
        li:nth-child(3) {
            color: #762696
        }
        li:nth-child(3):before {
            background: #762696
        }
        li:nth-child(4) {
            color: #00cced
        }
        li:nth-child(4):before {
            background: #00cced
        }
        li:before {
            content: "";
            height: 16px;
            width: 16px;
            display: inline-block;
            margin-right: 5px
        }
    } // Calendar page
    #external-events {
        li {
            font-size: 14px;
            margin: 4px 0;
            text-align: left;
            text-transform: uppercase;
            font-weight: 600;
            border-color: transparent;
        }
        li:before {
            content: "";
            height: 16px;
            width: 16px;
            display: inline-block;
            margin: 0px 4px 0px 0px;
            border-radius: 2px;
            position: relative;
            top: 2px;
        } // color class
        li.text-red:before {
            background: #dd4b39 !important;
        }
        li.text-yellow:before {
            background: #f39c12 !important;
        }
        li.text-aqua:before {
            background: #00c0ef !important;
        }
        li.text-blue:before {
            background: #0073b7 !important;
        }
        li.text-black:before {
            background: #111111 !important;
        }
        li.text-light-blue:before {
            background: #3c8dbc !important;
        }
        li.text-green:before {
            background: #00a65a !important;
        }
        li.text-gray:before {
            background: #d2d6de !important;
        }
        li.text-navy:before {
            background: #001f3f !important;
        }
        li.text-teal:before {
            background: #39cccc !important;
        }
        li.text-olive:before {
            background: #3d9970 !important;
        }
        li.text-lime:before {
            background: #01ff70 !important;
        }
        li.text-orange:before {
            background: #ff851b !important;
        }
        li.text-fuchsia:before {
            background: #f012be !important;
        }
        li.text-purple:before {
            background: #605ca8 !important;
        }
        li.text-maroon:before {
            background: #d81b60 !important;
        }
        li.text-muted:before {
            background: #777 !important;
        }
    } // color class
    .text-red {
        color: #dd4b39 !important;
    }

    .text-yellow {
        color: #f39c12 !important;
    }

    .text-aqua {
        color: #00c0ef !important;
    }

    .text-blue {
        color: #0073b7 !important;
    }

    .text-black {
        color: #111111 !important;
    }

    .text-light-blue {
        color: #3c8dbc !important;
    }

    .text-green {
        color: #00a65a !important;
    }

    .text-gray {
        color: #d2d6de !important;
    }

    .text-navy {
        color: #001f3f !important;
    }

    .text-teal {
        color: #39cccc !important;
    }

    .text-olive {
        color: #3d9970 !important;
    }

    .text-lime {
        color: #01ff70 !important;
    }

    .text-orange {
        color: #ff851b !important;
    }

    .text-fuchsia {
        color: #f012be !important;
    }

    .text-purple {
        color: #605ca8 !important;
    }

    .text-maroon {
        color: #d81b60 !important;
    }

    .text-muted {
        color: #777 !important;
    }