.alias {
    cursor: alias !important;
}

.all-scroll {
    cursor: all-scroll !important;
}

.auto {
    cursor: auto !important;
}

.cell {
    cursor: cell !important;
}

.context-menu {
    cursor: context-menu !important;
}

.col-resize {
    cursor: col-resize !important;
}

.copy {
    cursor: copy !important;
}

.crosshair {
    cursor: crosshair !important;
}

.default {
    cursor: default !important;
}

.e-resize {
    cursor: e-resize !important;
}

.ew-resize {
    cursor: ew-resize !important;
}

.grab {
    cursor: grab !important;
}

.grabbing {
    cursor: grabbing !important;
}

.help {
    cursor: help !important;
}

.move {
    cursor: move !important;
}

.n-resize {
    cursor: n-resize !important;
}

.ne-resize {
    cursor: ne-resize !important;
}

.nesw-resize {
    cursor: nesw-resize !important;
}

.ns-resize {
    cursor: ns-resize !important;
}

.nw-resize {
    cursor: nw-resize !important;
}

.nwse-resize {
    cursor: nwse-resize !important;
}

.no-drop {
    cursor: no-drop !important;
}

.none {
    cursor: none !important;
}

.not-allowed {
    cursor: not-allowed !important;
}

.pointer {
    cursor: pointer !important;
}

.progress {
    cursor: progress !important;
}

.row-resize {
    cursor: row-resize !important;
}

.s-resize {
    cursor: s-resize !important;
}

.se-resize {
    cursor: se-resize !important;
}

.sw-resize {
    cursor: sw-resize !important;
}

.text {
    cursor: text !important;
}

.w-resize {
    cursor: w-resize !important;
}

.wait {
    cursor: wait !important;
}

.zoom-in {
    cursor: zoom-in !important;
}

.zoom-out {
    cursor: zoom-out !important;
}