#header.navbar {
    margin-bottom: 0;
}

#header.navbar.fixed-theme {
    position: fixed;
}

.navbar-brand {
    padding: 8px 16px;
    height: 100px;
    img {
        height: 100%;
        width: auto;
        margin: 0px;
    }
}

.navbar-brand.fixed-theme {
    height: 60px;
    padding: 4px 16px;
}

.navbar-container {
    padding: 0px;
    .navbar-collapse {
        padding-top: 8px;
        text-align: right;
    }
}

.navbar.navbar-fixed-top.fixed-theme {
    background: white;
}

.navbar-container.fixed-theme {
    ul#user-contact,
    ul.social-links,
    br {
        display: none !important;
    }
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.navbar-nav li a {
    text-transform: uppercase;
    color: #000;
    transition: color 0.3s;
    letter-spacing: 1.2px;
    font-weight: 500;
}

.navbar-nav li a:hover {
    background: transparent;
}

.navbar-nav li.active a {
    color: #00cced;
}

#user-contact {
    display: inline-block;
    margin-right: 30px;
    margin-top: 4px;
    li {
        list-style: none;
        display: inline-block;
        a {
            color: #000;
            text-transform: uppercase;
            padding: 0 7px;
            border-right: 1px solid #000;
            font-weight: 500;
        }
    }
    li:last-child a {
        border: 0;
    }
}

.social-links {
    display: inline;
    margin-right: 8px;
    li {
        height: 30px;
        width: 30px;
        line-height: 30px;
        a {
            font-size: 22px;
            color: #00cced;
        }
    }
    li:hover {
        background: #00cced;
        transition: 0.6s ease;
    }
    li:hover a {
        color: #fff;
        transition: 0.6s ease;
    }
}

.icon-google:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f0d4";
}

.icon-instagram:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f16d";
}

.icon-twitter:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f081";
}

.icon-facebook:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f230";
}

@media (min-width: 768px) and (max-width: 1023px) {
    #navbar .navbar-nav li a {
        padding: 10px;
    }
    .navbar-nav>li:last-child a {
        padding-right: 0;
    }
    .navbar-brand {
        padding: 8px 16px;
        height: 80px;
    }
    .social-links {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        text-align: center;
        padding: 8px 16px !important;
        height: 50px !important;
        margin-left: 16px;
    }
    .navbar-toggle {
        background: #00cced !important;
        margin-right: 24px;
    }
    .navbar-collapse {
        margin: 0 !important;
        background: #00cced;
        padding-top: 0 !important;
        text-align: center;
        .navbar-nav {
            float: none !important;
        }
    }
    .navbar-container{
        ul#user-contact,
        ul.social-links,
        br {
            display: none !important;
        }
    }
    .navbar-nav li.active a {
        color: white;
    }
    .social-links {
        margin-right: 0px;
    }
    .icon-bar {
        background: #fff;
    }
}