@media (min-width: 1024px) and (max-width: 1280px) {
    .header-atluss .carousel-caption .title {
        font-size: 28px;
        margin-top: 40px;
    }
    .track p {
        line-height: 20px;
    }
    .section-atluss {
        padding: 36px 0;
        .dash-text,
        .schedule-text,
        .referral-text {
            padding: 16px 16px;
            p {
                line-height: 28px;
                font-size: 16px;
            }
        }
        .home-text {
            padding: 0px 16px;
        }
        ol li {
            font-size: 15px;
        }
    }
    .dash_listing {
        li {
            .fa {
                font-size: 125px;
            }
        }
    }
    .footer-btm {
        ul.list-inline>li {
            padding-left: 0;
        }
        .btn-login {
            margin: 32px auto;
        }
    }
    .login-form {
        margin: 48px 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-atluss {
        .carousel-caption .title {
            margin-top: 8px;
            font-size: 20px;
        }
        .carousel-caption .content {
            line-height: 20px;
            font-size: 14px;
        }
    }
    .footer-btm {
        a.btn-login {
            display: none;
        }
    }
    .btn-login {
        margin: 16px auto;
    }
    .track {
        p {
            line-height: 20px;
            font-size: 14px;
        }
        .fa {
            font-size: 100px;
        }
    }
    .section-atluss {
        padding: 32px 0;
        .dash-text,
        .schedule-text,
        .referral-text {
            padding: 16px 16px;
            p {
                line-height: 20px;
                font-size: 14px;
            }
        }
        .home-text {
            padding: 0px 16px;
            ol li {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .home-img {
            padding: 32px 16px;
        }
        ol li {
            font-size: 13px;
        }
        .referral-img {
            padding: 32px 0;
        }
        .schedule-img,
        .dash-img {
            padding: 24px 0;
        }
    }
    .dash_listing {
        li {
            h3 {
                font-size: 24px;
            }
            .fa {
                font-size: 100px;
            }
        }
    }
    .banner-atluss {
        ul.list-inline li a {
            padding: 0px 8px;
        }
    }
    .flex-container {
        .weekday {
            padding: 8px;
            .btn {
                font-size: 12px;
                padding: 4px 8px;
            }
            p,
            select,
            input {
                font-size: 12px;
                padding: 0;
            }
        }
    }
    .calendar-form {
        .fc-left h2 {
            margin-top: 12x;
            font-size: 24px;
        }
        .fc-event-container {
            .fc-content {
                font-size: 12px;
            }
        }
        .fc-more-cell .fc-more {
            font-size: 12px;
        }
    }
    .content-atluss p {
        margin: 5px 0;
        color: #000;
        line-height: 15px;
        font-size: 13px;
    }
    .f_timing:after {
        right: -7px;
    }
    .f_timing.add:after {
        right: -7px;
    }
    .login-form {
        margin: 32px;
    }
}

@media (max-width: 767px) {
    .header-atluss {
        .carousel-caption {
            position: relative;
            top: 0;
            margin: 0 auto;
            width: 90%;
            text-align: center;
        }
        .carousel-caption .title {
            margin-top: 0;
            font-size: 18px;
        }
        .carousel-caption .content {
            margin-top: 0;
            font-size: 12px;
            line-height: 14px;
        }
        div#carousel-slider .carousel-inner .item>img {
            position: absolute;
            height: 100%;
            width: auto;
        }
    }
    .footer-btm {
        text-align: center;
        div {
            padding: 0;
        }
        a.btn-login {
            display: none;
        }
        ul.list-inline {
            margin: 0;
        }
        ul.list-inline>li {
            padding-left: 0;
        }
    }
    .btn-login {
        margin: 8px auto;
    }
    .section-atluss {
        padding: 16px 0;
        .dash-text,
        .schedule-text,
        .referral-text {
            padding: 8px 16px;
            h2,
            h3 {
                margin-top: 8px;
                text-align: center;
            }
            p {
                line-height: 20px;
                font-size: 14px;
            }
        }
        .referral-img,
        .schedule-img,
        .dash-img {
            padding: 8px 16px;
        }
        .home-text {
            padding: 0px 16px;
            ol li {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .home-img {
            padding: 0px 16px;
        }
        .heading {
            font-size: 24px;
        }
        ol li {
            font-size: 13px;
        }
    }
    .dash_listing {
        li {
            h3 {
                font-size: 12px;
                min-height: 24px;
                margin-bottom: 8px;
            }
            .fa {
                font-size: 50px;
                margin: 8px 0;
            }
        }
    }
    .track {
        padding: 0;
        h2 {
            font-size: 18px
        }
        p {
            font-size: 16px;
            line-height: 20px;
            min-height: 24px;
        }
        .fa {
            font-size: 120px
        }
    }
    .banner-atluss {
        ul.list-inline {
            font-size: 14px;
        }
        ul.list-inline li a {
            padding: 0px;
        }
    }
    .flex-container {
        flex-wrap: wrap;
        .weekday {
            width: 25%;
            padding: 8px;
            .btn {
                font-size: 12px;
                padding: 4px 8px;
            }
            p,
            select,
            input {
                font-size: 12px;
            }
        }
    }
    .pricing-frame {
        padding: 0 0 16px;
        h3#date-title {
            margin-top: 16px;
            font-size: 16px;
        }
        input[type="radio"]+label {
            cursor: pointer;
            width: 100%;
        }
        .panel-heading a {
            font-size: 16px;
        }
    }
    .calendar-form {
        margin: 8px;
        .heading {
            display: inline-block;
            width: 100%;
        }
        .fc-left h2 {
            margin-top: 16px;
            font-size: 16px;
        }
        .fc-event-container {
            .fc-content {
                font-size: 8px;
            }
        }
        .fc-more-cell .fc-more {
            font-size: 8px;
        }
    }
    .btn-action {
        padding: 4px 8px;
    }
    .page-header {
        background: url("/images/page-header.jpg");
        background-size: cover;
        min-height: 100px;
        position: relative;
        float: left;
        width: 100%;
    }
    .feature h3 {
        font-size: 17px;
        margin: 0px 0 10px 0;
    }
    .heading {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .content-atluss-list li a {
        color: #fff;
        padding: 0px 5px;
        border-right: 1px solid #fff;
        font-size: 12px;
    }
    .banner-atluss {
        padding: 10px 0;
        p {
            font-size: 12px;
            margin: 6px 0;
        }
        h2 {
            font-size: 18px;
        }
    }
    .content-atluss p {
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0;
    }
    .content-atluss ol li {
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0;
    }
    .header_text {
        margin: 36px 0px;
    }
    .content-atluss h3 {
        margin: 0px 0 15px 0;
        text-align: center;
    }
    .questions {
        padding: 15px 0;
    }
}

@media (min-width: 320px) and (max-width: 478px) {
    .login-form {
        margin: 16px 16px;
    }
    .flex-container {
        .weekday {
            .btn {
                font-size: 10px;
                padding: 4px 4px;
            }
            p,
            select,
            input {
                font-size: 10px;
                padding: 0;
            }
        }
    }
}